Source: freedombox-setup
Section: misc
Priority: optional
Maintainer: FreedomBox packaging team <freedombox-pkg-team@lists.alioth.debian.org>
Uploaders:
 Bdale Garbee <bdale@gag.com>
 , Nick Daly <Nick.M.Daly@gmail.com>
 , Sunil Mohan Adapa <sunil@medhas.org>
 , Federico Ceratto <federico@debian.org>
 , Petter Reinholdtsen <pere@debian.org>
Build-Depends: debhelper (>= 9)
 , dh-python
 , python3-all
Standards-Version: 3.9.8
Homepage: https://wiki.debian.org/FreedomBox
Vcs-Git: https://anonscm.debian.org/git/freedombox/freedombox-setup.git
Vcs-Browser: https://anonscm.debian.org/cgit/freedombox/freedombox-setup.git

Package: freedombox-setup
Architecture: all
Depends: ${misc:Depends}
 , ${python3:Depends}
 , apache2
 , augeas-tools
 , bridge-utils
 , curl
 , devio
 , dialog
 , dnsmasq-base
 , dnsutils
 , dosfstools
 , haveged
 , how-can-i-help
 , htop
 , iftop
 , iptables
 , iputils-ping
 , iw
 , libapache2-mod-gnutls (>= 0.7.4-1)
 , libapache2-mod-php
 , libnss-gw-name
 , libnss-mdns
 , libnss-myhostname
 , libpam-tmpdir
 , libpam-abl
 , locales
 , locales-all
 , lsof
 , netcat-openbsd
 , network-manager
 , openssh-server
 , parted
 , plinth (>> 0.15.2)
 , psmisc
 , resolvconf
 , ssl-cert
 , sudo
 , tcpdump
 , vim-tiny
 , wget
 , wireless-tools
 , zile
Recommends:
 rfkill
Description: Package to set up freedombox environment
 Configure the Freedombox environment before and after the first reboot.
